* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('backgroundimage.jpg') no-repeat center center/cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
    max-width: 400px;
}

.box {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    font-size: 8vmin;
    color: #fff;
    background-color: #ed9e0a;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reset-btn,
#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    margin-top: 1rem;
}

.msg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

#msg {
    color: #ffffc7;
    font-size: 5vmin;
}

.hide {
    display: none;
}
